<div class='weatherForecast' ng-repeat='weather in weatherForecastManager5Days'>
	<div class='col-md-2 pull-left'>
		<div class = 'dateClass'>
			{{weather.date}}
		</div>
		<div class='timeClass'>
			{{weather.time}}
		</div>
	</div>
	<div class='col-md-2 pull-left'>
		{{weather.temperature}}°
	</div>
	<div class='col-md-4 pull-right'>
		<div class='forecastClass'>
			{{weather.forecast}}
		</div>
		<div class='forecastDescClass'>
			- {{weather.forecastDesc}}
		</div>
	</div>
	<div class='col-md-4 pull-right'>
		<div>
			Wind: {{weather.wind}} MPH
		</div>
		<div>
			Humidity: {{weather.humidity}}
		</div>
		<div>
			Clouds: {{weather.clouds}}
		</div>
	</div>
</div>